
div#root{
  background-color: white;
  height: '100vh';
  width: '100wh';
}
html{
  background-color: white;
  height: '100vh';
  width: '100wh';
}

.bg {
  background-color: #441879;
}






/*
.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: white;
  width: 25em;
}

.modal .btn {
  display: block;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
  text-align: left; 
}

.form-group label {
  margin-bottom: 0.2rem;
  text-align: left;
}

.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
*/
 

/*
Responsive HTML Table With Pure CSS - Web Design/UI Design

Code written by:
👨🏻‍⚕️ Coding Design (Jeet Saru)

> You can do whatever you want with the code. However if you love my content, you can **SUBSCRIBED** my YouTube Channel.

🌎link: www.youtube.com/codingdesign 
*/






